<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--<property name="user.home" value="" />-->

    <!-- console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- other.log -->
    <appender name="JmqttOtherAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/cluster.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttOtherAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttOtherAppender_inner"/>
    </appender>

    <!-- cluster.log -->
    <appender name="JmqttClusterAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/cluster.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttClusterAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttClusterAppender_inner"/>
    </appender>

    <!-- store.log -->
    <appender name="JmqttStoreAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/store.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttStoreAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttStoreAppender_inner"/>
    </appender>

    <!-- remoting.log -->
    <appender name="JmqttRemotingAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/remoting.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/remoting.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttRemotingAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttRemotingAppender_inner"/>
    </appender>

    <!-- messageTrace.log -->
    <appender name="JmqttMessageTraceAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/messageTrace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/messageTrace.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttMessageTraceAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttMessageTraceAppender_inner"/>
    </appender>

    <!-- broker.log -->
    <appender name="JmqttBrokerAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/broker.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/broker.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttBrokerAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttBrokerAppender_inner"/>
    </appender>

    <!-- clientTrace.log -->
    <appender name="JmqttClientTraceAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/clientTrace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/clientTrace.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <appender name="JmqttClientTraceAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttClientTraceAppender_inner"/>
    </appender>

    <logger name="brokerLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttBrokerAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="clientTraceLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttClientTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="messageTraceLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttMessageTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="remotingLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttRemotingAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="storeLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttStoreAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="clusterLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttClusterTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="otherLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttOtherTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
